a#desc-order-capture_payment{
	
	margin:10px 0;
}

.mpgs-logo-container {
    position: relative;
    display: inline-block;
}

.mpgs-logo-img {
    max-width: 140px;
    max-height: 140px;
    border: 1px solid #ccc;
}

.mpgs-logo-remove {
    position: absolute;
    top: -6px;
    right: -12px;
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;
    background: black;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
}
